@import "tailwindcss";
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientBG 3s ease infinite;
}

html,
body {
  padding: 0 !important;
  overflow: auto !important;
}
